{% extends 'layout.html' %}
{% block head_content %}
{% endblock head_content %}
{% block content %}
<form action="#" method="post">
    <div class="columns">
        <div class="column">
            <h1 class="has-text-weight-bold">'Enter the Answer'-exercise</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            Question
        </div>
        <div class="column">
            <input type="text" name="question">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            Language
        </div>
        <div class="column">
            <select name="lang">
                <option value="ZH-DA">Mostly Chinese</option>
                <option value="DA-ZH">Mostly Danish</option>
            </select>
        </div>
    </div>


    <div class="container">
        <div class="columns">
            <div class="column">
                Correct answer
            </div>
            <div class="column">
                <input type="text" name="answer">
            </div>
        </div>

        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <input type="submit" value="Submit question" name="submit">
            </div>
        </div>
    </div>
</form>
{% endblock content %}