{% extends 'layout.html' %}
{% block head_content %}
{% endblock head_content %}
{% block content %}
    <!-- Question with text input -->
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Enter The Answer</h1>
                <form action="" method="post">
                    
                    <h1 class="subtitle">
                        Question
                        {{ add_exercise_form_0.question(autocomplete="off") }}
                        Language
                        {{ add_exercise_form_0.lang }}
                        Answer 0
                        {{ add_exercise_form_0.answer_0 }}
                        Answer 1
                        {{ add_exercise_form_0.answer_1 }}
                        Answer 2
                        {{ add_exercise_form_0.answer_2 }}
                    </h1>
                    <p><input type="submit" value="Ok"></p>
                </form>
            </div>
            <div class="column">
                <h1 class="title">Multiple Choice</h1>
                <form action="" method="post">
                    
                    <h1 class="subtitle">
                        Question
                        {{ add_exercise_form_1.question(autocomplete="off") }}
                        Language
                        {{ add_exercise_form_1.lang }}
                        Answer 0
                        {{ add_exercise_form_1.answer_0 }}
                        Answer 1
                        {{ add_exercise_form_1.answer_1 }}
                        Answer 2
                        {{ add_exercise_form_1.answer_2 }}
                        The correct answer is at index
                        {{ add_exercise_form_1.correct_index }}

                    </h1>
                    <p><input type="submit" value="{{ url_for('/add_exercise/multiple_choice') }}"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}