{% extends 'layout.html' %}
{% block head_content %}
{% endblock head_content %}
{% block content %}
<form action="#" method="post">
    <div class="columns">
        <div class="column">
            <h1 class="has-text-weight-bold">'Enter the Answer'-exercise</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Question
        </div>
        <div class="column">
            <input type="text" id="question">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Language
        </div>
        <div class="column">
            <select name="cars" id="cars">
                <option value="volvo">Mostly Chinese</option>
                <option value="saab">Mostly Danish</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                Correct answers
            </div>
            <div class="column">
                <input type="text" id="answer_0">
            </div>
        </div>
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <input type="text" id="answer_1">
            </div>
        </div>
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <input type="text" id="answer_2">
            </div>
        </div>
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <input type="submit" value="Submit question">
            </div>
        </div>
    </div>
</form>
{% endblock content %}