{% extends 'layout.html' %}
{% block head_content %}
{% endblock head_content %}
{% block content %}

<form action="" method="post" name="multiple_choice">
    <!-- Row -->
    <div class="container">
        <div class="column">
                <h1 class="title">
                    {{ question_html | safe }}
                </h1>
                
            
        </div>
    </div>

    <!-- Row -->
    <div class="container">
        <input class="button" type="submit" name="{{ multiple_choice_form.choices[0] }}" value="{{ multiple_choice_form.choices[0] }}">
        <input class="button" type="submit" name="{{ multiple_choice_form.choices[1] }}" value="{{ multiple_choice_form.choices[1] }}">
        <input class="button" type="submit" name="{{ multiple_choice_form.choices[2] }}" value="{{ multiple_choice_form.choices[2] }}">
    </div>
</form>
{% endblock %}